*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: normal;
}

html, body {
    min-height: 100%;
}

body {
    overflow-y: scroll;
    background: #eee;
}

.content {
    min-height: 90%;
}

.container {
    height: 500px;
}

header, footer, section, aside {
    display: block;
}

header {
    height: 60px;
    line-height: 60px;
    background: #ccc;
}
